<h2 class="text-muted p-2">Inventory Tracker</h2>

<div class="inventory-tracker p-3">
  <div class="d-flex">
    <table class="inventory-table table table-hover w-100">
      <thead>
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-2">Category</th>
          <th scope="col" class="col-3">Name</th>
          <th scope="col" class="">Value (USD)</th>
          <th scope="col" class="">Detail</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.items as |item index|}}
          <tr>
            <th class="text-muted fw-light">{{index}}</th>
            <td class="text-capitalize">
              <FaIcon @icon={{item.itemDetail.icon}} class="me-1"/> {{item.category}}
            </td>
            <td>
              {{item.name}}
            </td>
            <td>{{item.currencyDisplay}}</td>
            <td class="text-capitalize">{{item.itemDetail.detail}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="inventory-buttons">
    <BsButton
      class="add-item-button"
      @type="primary"
      @onClick={{this.createNewItem}}
    >
      Add Item
    </BsButton>
  </div>
</div>

{{#if this.showAddModal}}
<BsModal
  class="add-item-modal"
  @onSubmit={{this.submitNewItem}}
  @onHide={{this.cancelItem}}
  as |modal|>
  <BsForm as |form|>
  <modal.header>
    <h5 class="modal-title">New Item</h5>
  </modal.header>
  <modal.body>
    <form.element class="name-input" @controlType='text' @label='Name' @value={{this.selectedItem.name}} @onChange={{fn (mut this.selectedItem.name)}} />
    <form.element class="value-input" @controlType='text' @label='Value' @value={{this.selectedItem.value}} @onChange={{fn (mut this.selectedItem.value)}} />
    <div class="mb-3">
      <label class="form-label">Category</label>
      <BsButtonGroup @value={{this.selectedItem.category}} @type="radio" class="category-select border w-100" @onChange={{this.createNewDetails}} as |bg|>
        <bg.button @type="light" @value='jewelry'>Jewelry</bg.button>
        <bg.button @type="light" @value='electronic'>Electronic</bg.button>
        <bg.button @type="light" @value='other'>Other</bg.button>
      </BsButtonGroup>
    </div>

    {{#if this.selectedItem.itemDetail}}
      {{log this.selectedItem.itemDetail}}
      {{#if (eq this.selectedItem.category 'jewelry')}}
        <form.element class="material-input" @controlType='text' @label='Material' @value={{this.selectedItem.itemDetail.material}} @onChange={{fn (mut this.selectedItem.itemDetail.material)}}/>
      {{else if (eq this.selectedItem.category 'electronic')}}
        <form.element class= "serial-number-input" @controlType='text' @label='Serial Number' @value={{this.selectedItem.itemDetail.serialNumber}} @onChange={{fn (mut this.selectedItem.itemDetail.serialNumber)}}/>
      {{/if}}
    {{/if}}

  </modal.body>
  <modal.footer>
    <BsButton class="cancel-button" @onClick={{modal.close}}>Cancel</BsButton>
    <form.submitButton class="submit-button" @onClick={{modal.submit}} @type="primary">Submit</form.submitButton>
  </modal.footer>
  </BsForm>
  </BsModal>
{{/if}}
